openapi: 3.2.0
info:
  title: Orbii Merchants API
  description: API for managing transactions, clients, and companies.
  version: 1.0.5-oas3
servers:
- url: https://api.orbii.ai
  description: Production server
tags:
- name: Merchants
paths:
  /transactions_with_merchant/customer/{customer_id}:
    get:
      summary: Retrieve transactions with merchant info for a specific customer ID
      description: Returns a list of transactions, including merchant and interaction type, for a given customer ID.
      tags:
      - Merchants
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      - name: user
        in: query
        description: username
        required: false
        schema:
          type: string
          default: username
      - name: password
        in: query
        description: password
        required: false
        schema:
          type: string
          default: DB_PASSWORD
      responses:
        '200':
          description: A list of transactions with merchant details for the specified customer ID
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ClientID:
                      type: string
                    BorrowerID:
                      type: string
                    date:
                      type: string
                      format: date
                    description:
                      type: string
                    credit_debit_indicator:
                      type: string
                    amount:
                      type: number
                      format: float
                    currency:
                      type: string
                    balance:
                      type: number
                      format: float
                    category:
                      type: string
                    subcategory:
                      type: string
                    risk level:
                      type: string
                    bank name:
                      type: string
                    iban:
                      type: string
                    cost type:
                      type: string
                    merchant:
                      type: string
                    interaction_type:
                      type: string
                    customer_id:
                      type: string
                    sr_no:
                      type: integer
                    amount_base_currency:
                      type: number
                      format: float
                    balance_base_currency:
                      type: number
                      format: float
        '400':
          description: Bad request - missing or invalid parameters
        '500':
          description: Internal server error
      operationId: getTransactionsWithMerchantCustomerByCustomerId
      x-operation-id-source: derived
  /paged-transactions_with_merchant/customer/{customer_id}:
    get:
      summary: Retrieve paged transactions with merchant info for a specific customer ID
      description: Returns a paginated list of transactions, including merchant and interaction type, for a given customer ID.
      tags:
      - Merchants
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      - name: user
        in: query
        description: username
        required: false
        schema:
          type: string
          default: username
      - name: password
        in: query
        description: password
        required: false
        schema:
          type: string
          default: DB_PASSWORD
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of records per page
        required: false
        schema:
          type: integer
          default: 1000
          minimum: 1
      responses:
        '200':
          description: Paged list of transactions with merchant details for the specified customer ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_records:
                    type: integer
                    description: Total number of matching transactions
                  page:
                    type: integer
                    description: Current page number
                  page_size:
                    type: integer
                    description: Number of records per page
                  total_pages:
                    type: integer
                    description: Total number of pages
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        ClientID:
                          type: string
                        BorrowerID:
                          type: string
                        date:
                          type: string
                          format: date
                        description:
                          type: string
                        credit_debit_indicator:
                          type: string
                        amount:
                          type: number
                          format: float
                        currency:
                          type: string
                        balance:
                          type: number
                          format: float
                        category:
                          type: string
                        subcategory:
                          type: string
                        risk level:
                          type: string
                        bank name:
                          type: string
                        iban:
                          type: string
                        cost type:
                          type: string
                        merchant:
                          type: string
                        interaction_type:
                          type: string
                        customer_id:
                          type: string
                        sr_no:
                          type: integer
                        amount_base_currency:
                          type: number
                          format: float
                        balance_base_currency:
                          type: number
                          format: float
        '400':
          description: Bad request - missing or invalid parameters
        '500':
          description: Internal server error
      operationId: getPagedTransactionsWithMerchantCustomerByCustomerId
      x-operation-id-source: derived
  /top_buyers/customer/{customer_id}:
    get:
      summary: Get top buyers for a customer
      description: Retrieves the top buyers for a given customer, ranked by total transaction amount.
      tags:
      - Merchants
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
        description: The customer ID (GUID format).
      - name: user
        in: query
        required: false
        schema:
          type: string
        description: username
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: password
      responses:
        '200':
          description: A list of top buyers sorted by total amount transacted.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    merchant:
                      type: string
                      description: The merchant name.
                    total_transacted:
                      type: number
                      description: The total transaction amount with the merchant.
                    number_of_interactions:
                      type: integer
                      description: The number of transactions or interactions with the merchant.
        '404':
          description: Customer ID not found.
        '500':
          description: Server error.
      operationId: getTopBuyersCustomerByCustomerId
      x-operation-id-source: derived
  /top_sellers/customer/{customer_id}:
    get:
      summary: Get top sellers for a customer
      description: 'Retrieves the top sellers (suppliers or service providers) for a given customer,

        ranked by total transaction amount.'
      tags:
      - Merchants
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
        description: The customer ID (GUID format).
      - name: user
        in: query
        required: false
        schema:
          type: string
        description: username
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: password
      responses:
        '200':
          description: A list of top sellers sorted by total amount transacted.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    merchant:
                      type: string
                      description: The seller, supplier, or service provider name.
                    total_transacted:
                      type: number
                      description: The total transaction amount with the seller.
                    number_of_interactions:
                      type: integer
                      description: The number of transactions or interactions with the seller.
        '404':
          description: Customer ID not found.
        '500':
          description: Server error.
      operationId: getTopSellersCustomerByCustomerId
      x-operation-id-source: derived
  /top_buyers_recent/customer/{customer_id}:
    get:
      summary: Get top buyers for a customer in the last X months
      description: Returns the top buyer-type merchants for a customer over the last `months` months, where the time window is anchored to the customer's most recent transaction date.
      tags:
      - Merchants
      parameters:
      - in: path
        name: customer_id
        required: true
        schema:
          type: string
        description: The unique customer ID (GUID).
      - in: query
        name: months
        required: false
        schema:
          type: integer
          default: 6
          minimum: 1
        description: Number of months to look back from the last transaction date.
      - in: query
        name: user
        required: false
        schema:
          type: string
        description: username.
      - in: query
        name: password
        required: false
        schema:
          type: string
        description: password.
      responses:
        '200':
          description: A list of top buyer merchants
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    merchant:
                      type: string
                      example: Merchant A
                    total_transacted:
                      type: number
                      format: float
                      example: 12500.75
                    number_of_interactions:
                      type: integer
                      example: 23
        '400':
          description: Invalid request (e.g., bad parameters)
        '500':
          description: Server error
      operationId: getTopBuyersRecentCustomerByCustomerId
      x-operation-id-source: derived
  /top_sellers_recent/customer/{customer_id}:
    get:
      summary: Get top sellers for a customer in the last X months
      description: 'Returns the top seller-type merchants for a customer over the last `months` months, where the time window is anchored to the customer''s most recent transaction date. Seller interaction types include: `Seller`, `Supplier`, `Service provider`, and `Agency`.'
      tags:
      - Merchants
      parameters:
      - in: path
        name: customer_id
        required: true
        schema:
          type: string
        description: The unique customer ID (GUID).
      - in: query
        name: months
        required: false
        schema:
          type: integer
          default: 6
          minimum: 1
        description: Number of months to look back from the last transaction date.
      - in: query
        name: user
        required: false
        schema:
          type: string
        description: username.
      - in: query
        name: password
        required: false
        schema:
          type: string
        description: password.
      responses:
        '200':
          description: A list of top seller merchants
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    merchant:
                      type: string
                      example: Supplier X
                    total_transacted:
                      type: number
                      format: float
                      example: 98750.5
                    number_of_interactions:
                      type: integer
                      example: 12
        '400':
          description: Invalid request (e.g., bad parameters)
        '500':
          description: Server error
      operationId: getTopSellersRecentCustomerByCustomerId
      x-operation-id-source: derived
  /transactions_with_merchant/customer/{customer_id}/range:
    get:
      summary: Retrieve transactions with merchant info for a specific customer ID within a…
      description: Returns a list of transactions, including merchant and interaction type, for a given customer ID between the specified start and end dates.
      tags:
      - Merchants
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        description: Start date of the range (inclusive), format YYYY-MM-DD
        required: true
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of the range (inclusive), format YYYY-MM-DD
        required: true
        schema:
          type: string
          format: date
      - name: user
        in: query
        description: username
        required: false
        schema:
          type: string
          default: username
      - name: password
        in: query
        description: password
        required: false
        schema:
          type: string
          default: DB_PASSWORD
      responses:
        '200':
          description: A list of transactions with merchant details for the specified customer ID and date range
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ClientID:
                      type: string
                    BorrowerID:
                      type: string
                    date:
                      type: string
                      format: date
                    description:
                      type: string
                    credit_debit_indicator:
                      type: string
                    amount:
                      type: number
                      format: float
                    currency:
                      type: string
                    balance:
                      type: number
                      format: float
                    category:
                      type: string
                    subcategory:
                      type: string
                    risk level:
                      type: string
                    bank name:
                      type: string
                    iban:
                      type: string
                    cost type:
                      type: string
                    merchant:
                      type: string
                    interaction_type:
                      type: string
                    customer_id:
                      type: string
                    sr_no:
                      type: integer
        '400':
          description: Bad request - missing or invalid parameters
        '500':
          description: Internal server error
      operationId: getTransactionsWithMerchantCustomerByCustomerIdRange
      x-operation-id-source: derived
  /paged-transactions_with_merchant/customer/{customer_id}/range:
    get:
      summary: Retrieve paged transactions with merchant info for a specific customer ID…
      description: Returns a paginated list of transactions, including merchant and interaction type, for a given customer ID between the specified start and end dates.
      tags:
      - Merchants
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        description: Start date of the range (inclusive), format YYYY-MM-DD
        required: true
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of the range (inclusive), format YYYY-MM-DD
        required: true
        schema:
          type: string
          format: date
      - name: user
        in: query
        description: username
        required: false
        schema:
          type: string
          default: username
      - name: password
        in: query
        description: password
        required: false
        schema:
          type: string
          default: DB_PASSWORD
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of records per page
        required: false
        schema:
          type: integer
          default: 1000
          minimum: 1
      responses:
        '200':
          description: Paged list of transactions with merchant details for the specified customer ID and date range
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_records:
                    type: integer
                    description: Total number of matching transactions
                  page:
                    type: integer
                    description: Current page number
                  page_size:
                    type: integer
                    description: Number of records per page
                  total_pages:
                    type: integer
                    description: Total number of pages
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        ClientID:
                          type: string
                        BorrowerID:
                          type: string
                        date:
                          type: string
                          format: date
                        description:
                          type: string
                        credit_debit_indicator:
                          type: string
                        amount:
                          type: number
                          format: float
                        currency:
                          type: string
                        balance:
                          type: number
                          format: float
                        category:
                          type: string
                        subcategory:
                          type: string
                        risk level:
                          type: string
                        bank name:
                          type: string
                        iban:
                          type: string
                        cost type:
                          type: string
                        merchant:
                          type: string
                        interaction_type:
                          type: string
                        customer_id:
                          type: string
                        sr_no:
                          type: integer
        '400':
          description: Bad request - missing or invalid parameters
        '500':
          description: Internal server error
      operationId: getPagedTransactionsWithMerchantCustomerByCustomerIdRange
      x-operation-id-source: derived
