{"openapi":"3.0.0","info":{"title":"Orbii KSA API","description":"API for managing transactions, clients, and companies.","version":"1.0.3"},"servers":[{"url":"https://api.sa.orbii.ai/","description":"Production server"}],"paths":{"/":{"get":{"summary":"Welcome message","description":"Returns a welcome message.","tags":["General"],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/clients":{"get":{"summary":"Get all clients","description":"Fetches all clients.","tags":["Clients"],"parameters":[{"name":"user","in":"query","schema":{"type":"string"}},{"name":"password","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of clients.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"clientname":{"type":"string"},"date_added":{"type":"string","format":"date-time"},"customer_id":{"type":"string"}}}}}}}}}},"/transactions":{"get":{"summary":"Retrieve all transactions","description":"Returns a list of all transactions.","tags":["Transactions"],"parameters":[{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/transactions/customer/{customer_id}":{"get":{"summary":"Retrieve transactions for a specific customer ID","description":"Returns a list of transactions associated with a given customer ID.","tags":["Transactions"],"parameters":[{"name":"customer_id","in":"path","description":"The unique identifier of the customer","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions for the specified customer ID","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}},"400":{"description":"Bad request - missing or invalid parameters"},"500":{"description":"Internal server error"}}}},"/transactions/date/{date}":{"get":{"summary":"Retrieve transactions for a specific date","description":"Returns a list of transactions for a given date.","tags":["Transactions"],"parameters":[{"name":"date","in":"path","description":"The date to retrieve transactions for (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions for the specified date","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/transactions/daterange":{"get":{"summary":"Get transaction date range","description":"Fetches the minimum and maximum transaction dates.","tags":["Transactions"],"parameters":[{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"The date range for transactions.","content":{"application/json":{"schema":{"type":"object","properties":{"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"}}}}}}}}},"/transactions/range":{"get":{"summary":"Get transactions between a date range","description":"Fetches transactions between a date range.","tags":["Transactions"],"parameters":[{"name":"start_date","in":"query","description":"The start date of the range (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","description":"The end date of the range (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions in the specified date range.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/transactions/{clientname}":{"get":{"summary":"Retrieve transactions for a specific client","description":"Returns a list of transactions for a given client.","tags":["Transactions"],"parameters":[{"name":"clientname","in":"path","description":"The name of the client to retrieve transactions for","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions for the specified client","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/transactions/{clientname}/date/{date}":{"get":{"summary":"Get transactions for a client on a specific date","description":"Fetches transactions for a client on a specific date.","tags":["Transactions"],"parameters":[{"name":"clientname","in":"path","description":"The name of the client to retrieve transactions for","required":true,"schema":{"type":"string"}},{"name":"date","in":"path","description":"The date to retrieve transactions for (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions for the client on the specified date.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/transactions/{clientname}/daterange":{"get":{"summary":"Get transaction date range for a specific client","description":"Fetches the minimum and maximum transaction dates for a specific client.","tags":["Transactions"],"parameters":[{"name":"clientname","in":"path","description":"The name of the client to retrieve the date range for","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"The date range for transactions of the specified client.","content":{"application/json":{"schema":{"type":"object","properties":{"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"}}}}}}}}},"/transactions/{clientname}/range":{"get":{"summary":"Get transactions for a client between a date range","description":"Fetches transactions for a client between a date range.","tags":["Transactions"],"parameters":[{"name":"clientname","in":"path","description":"The name of the client to retrieve transactions for","required":true,"schema":{"type":"string"}},{"name":"start_date","in":"query","description":"The start date of the range (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","description":"The end date of the range (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions for the client in the specified date range.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/ibans":{"get":{"summary":"Get distinct IBANs","description":"Fetches all distinct IBANs.","tags":["IBANs"],"parameters":[{"name":"user","in":"query","schema":{"type":"string"}},{"name":"password","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of distinct IBANs.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/transactions/iban/{iban}":{"get":{"summary":"Get transactions for a specific IBAN","description":"Fetches transactions for a specific IBAN.","tags":["Transactions"],"parameters":[{"name":"iban","in":"path","description":"The IBAN to retrieve transactions for","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of transactions for the given IBAN.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}},"/categories/{clientname}":{"get":{"summary":"Get distinct categories for a client","description":"Fetches distinct categories for a given client.","tags":["Categories"],"parameters":[{"name":"clientname","in":"path","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","schema":{"type":"string"}},{"name":"password","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of distinct categories for the client.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/subcategories/{clientname}":{"get":{"summary":"Get distinct subcategories for a client","description":"Fetches distinct subcategories for a given client.","tags":["Subcategories"],"parameters":[{"name":"clientname","in":"path","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","schema":{"type":"string"}},{"name":"password","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of distinct subcategories for the client.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/client-kpis/customer/{customer_id}":{"get":{"summary":"Retrieve client KPIs for a specific customer ID","description":"Returns the latest KPI values for the given customer ID.","tags":["KPIs"],"parameters":[{"name":"customer_id","in":"path","description":"The unique identifier of the customer","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of KPIs for the specified customer ID","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"borrower_name":{"type":"string"},"customer_id":{"type":"string"},"kpi":{"type":"string"},"value":{"type":"number","format":"float"},"year":{"type":"integer"},"month":{"type":"integer"}}}}}}},"400":{"description":"Bad request - missing or invalid parameters"},"500":{"description":"Internal server error"}}}},"/predictive-kpis/customer/{customer_id}":{"get":{"summary":"Retrieve predictive KPIs for a specific customer ID","description":"Returns the latest predictive KPI values for the given customer ID.","tags":["KPIs"],"parameters":[{"name":"customer_id","in":"path","description":"The unique identifier of the customer","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"A list of predictive KPIs for the specified customer ID","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"borrower_name":{"type":"string"},"customer_id":{"type":"string"},"year":{"type":"integer"},"month":{"type":"integer"},"predicted_revenue":{"type":"number","format":"float"},"predicted_expenses":{"type":"number","format":"float"},"predicted_transfers":{"type":"number","format":"float"},"predicted_essentials":{"type":"number","format":"float"},"predicted_non_essentials":{"type":"number","format":"float"},"predicted_profit":{"type":"number","format":"float"}}}}}}},"400":{"description":"Bad request - missing or invalid parameters"},"500":{"description":"Internal server error"}}}},"/client-kpis":{"get":{"summary":"Get KPIs for all clients","description":"Retrieves KPIs and their values for all clients, along with the year and month.","tags":["KPIs"],"parameters":[{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"client_name":{"type":"string","description":"The name of the client"},"kpi":{"type":"string","description":"The KPI being measured"},"value":{"type":"number","description":"The value of the KPI","format":"float"},"year":{"type":"integer","description":"The year associated with the KPI"},"month":{"type":"integer","description":"The month associated with the KPI"}}}}}}}}}},"/client-kpis/{clientname}":{"get":{"summary":"Get KPIs for a specific client","description":"Retrieves KPIs for a specific client, along with the year and month information.","tags":["KPIs"],"parameters":[{"name":"clientname","in":"path","description":"The name of the client to retrieve KPIs for","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"client_name":{"type":"string","description":"The name of the client"},"kpi":{"type":"string","description":"The KPI being measured"},"value":{"type":"number","description":"The value of the KPI","format":"float"},"year":{"type":"integer","description":"The year associated with the KPI"},"month":{"type":"integer","description":"The month associated with the KPI"}}}}}}}}}},"/predictive-kpis":{"get":{"summary":"Get predictive KPIs for all clients","description":"Retrieves predictive KPIs for all clients.","tags":["KPIs"],"parameters":[{"name":"user","in":"query","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictiveKPI"}}}}}}}},"/predictive-kpis/{clientname}":{"get":{"summary":"Get predictive KPIs for a specific client","description":"Retrieves predictive KPIs for a specific client.","tags":["KPIs"],"parameters":[{"name":"clientname","in":"path","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PredictiveKPI"}}}}}}}},"/Check-for-new-data-received":{"get":{"summary":"Check for new data received","description":"Fetches company name and email for recent data.","tags":["Data Check"],"parameters":[{"name":"user","in":"query","schema":{"type":"string"}},{"name":"password","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Recent data received.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string"},"company_name":{"type":"string"}}}}}}}}}},"/add-company":{"post":{"summary":"Add a new company","description":"Adds a new company, client, email, and company ID.","tags":["Company Management"],"parameters":[{"name":"company_id","in":"query","required":true,"schema":{"type":"string"}},{"name":"company_name","in":"query","required":true,"schema":{"type":"string"}},{"name":"client","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"400":{"description":"Missing parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/pdf-list":{"get":{"summary":"Retrieve the list of PDFs with metadata and client details","description":"Fetches the list of PDFs along with their metadata and client details.\n","tags":["PDFs"],"parameters":[{"name":"user","in":"query","required":true,"schema":{"type":"string"},"description":"Database username for authentication"},{"name":"password","in":"query","required":true,"schema":{"type":"string"},"description":"Database password for authentication"}],"responses":{"200":{"description":"A JSON array of PDF records","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"client_name":{"type":"string","example":"Orbii Corp"},"customer_id":{"type":"string","example":"123456"},"foldername":{"type":"string","example":"reports_2024"},"filename":{"type":"string","example":"financial_report.pdf"},"extraction_date":{"type":"string","format":"date-time","example":"2024-01-20T15:30:00Z"},"pdf_producer":{"type":"string","example":"Adobe Acrobat"},"content_creator":{"type":"string","example":"Finance Team"},"creation_date":{"type":"string","format":"date-time","example":"2023-12-15T10:00:00Z"},"modification_date":{"type":"string","format":"date-time","example":"2024-01-10T14:00:00Z"},"modified":{"type":"boolean","example":true}}}}}}},"400":{"description":"Invalid request, missing parameters"},"500":{"description":"Internal server error, database connection issue"}}}},"/pdf-list-from-date":{"get":{"summary":"Retrieve PDFs extracted on or after a specific datetime","description":"Returns the list of PDFs and their metadata where the extraction date is greater than or equal  to the given datetime. If no datetime is provided, it defaults to 2025-05-01 00:00:00.000.\n","tags":["PDFs"],"parameters":[{"name":"datetime","in":"query","description":"The datetime filter (format: YYYY-MM-DD HH:MM:SS.sss). Defaults to 2025-05-01 00:00:00.000 if not provided.\n","required":false,"schema":{"type":"string","example":"2025-05-01 00:00:00.000"}},{"name":"user","in":"query","description":"Database username (optional; defaults to environment variable)","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","description":"Database password (optional; defaults to environment variable)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"A JSON array of PDF records extracted on or after the specified datetime","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"client_name":{"type":"string","example":"Orbii Corp"},"customer_id":{"type":"string","example":"123456"},"foldername":{"type":"string","example":"reports_2025"},"filename":{"type":"string","example":"financial_report.pdf"},"extraction_date":{"type":"string","format":"date-time","example":"2025-05-01T00:00:00Z"},"pdf_producer":{"type":"string","example":"Adobe Acrobat"},"content_creator":{"type":"string","example":"Finance Team"},"creation_date":{"type":"string","format":"date-time","example":"2025-04-30T10:00:00Z"},"modification_date":{"type":"string","format":"date-time","example":"2025-05-01T14:00:00Z"},"modified":{"type":"boolean","example":true}}}}}}},"400":{"description":"Invalid datetime format","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Invalid datetime format. Expected 'YYYY-MM-DD HH:MM:SS.sss'"}}}}}},"500":{"description":"Internal server error, e.g., database connection issue","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/pdf-upload":{"post":{"summary":"Upload multiple PDFs","description":"Allows users to upload multiple PDF files.\nThe uploaded files are stored in a dynamically generated directory with the format: \n`{customer_identifier}-{bank name}-{YYYYMMDD}` inside the container `{user}`.\nIf `bank name` is not provided, it defaults to `\"unspecified_bank\"`.\nIf `date` is not provided, it defaults to the current date in `YYYYMMDD` format.\n","tags":["PDFs"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"},"description":"List of PDF files to upload"},"user":{"type":"string","example":"user","description":"The user, which is also used as the Azure container name"},"customer_identifier":{"type":"string","example":"customer","description":"Must be a valid Unique identifier, GUID (UUID)"},"bank name":{"type":"string","example":"bank name","description":"Name of the bank (defaults to `\"unspecified_bank\"` if not provided)"},"date":{"type":"string","example":"20241117","description":"Date in `YYYYMMDD` format (defaults to today's date if not provided)"}}}}}},"responses":{"200":{"description":"PDFs uploaded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Files uploaded successfully"},"folder":{"type":"string","example":"customer-wio-20241117"},"container":{"type":"string","example":"user"},"uploaded_files":{"type":"array","items":{"type":"string"},"example":["file1.pdf","file2.pdf"]}}}}}},"400":{"description":"Invalid request, missing parameters or incorrect date format"},"500":{"description":"Internal server error, failed to upload files"}}}},"/paged-transactions/customer/{customer_id}":{"get":{"summary":"Retrieve paginated transactions for a specific customer","description":"Returns a paginated list of transactions for a given customer ID.","tags":["Transactions"],"parameters":[{"name":"customer_id","in":"path","description":"The unique customer ID to retrieve transactions for","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}},{"name":"page","in":"query","description":"Page number for pagination (default is 1)","required":false,"schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","description":"Number of transactions per page (default is 1000)","required":false,"schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"A paginated list of transactions for the specified customer","content":{"application/json":{"schema":{"type":"object","properties":{"total_records":{"type":"integer","description":"Total number of transactions for the customer"},"page":{"type":"integer","description":"Current page number"},"page_size":{"type":"integer","description":"Number of transactions per page"},"total_pages":{"type":"integer","description":"Total number of pages available"},"transactions":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}}}},"/paged-transactions/{clientname}":{"get":{"summary":"Retrieve paginated transactions for a specific client","description":"Returns a paginated list of transactions for a given client.","tags":["Transactions"],"parameters":[{"name":"clientname","in":"path","description":"The name of the client to retrieve transactions for","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Database user name","required":false,"schema":{"type":"string","default":"DB_USER"}},{"name":"password","in":"query","description":"Database user password","required":false,"schema":{"type":"string","default":"DB_PASSWORD"}},{"name":"page","in":"query","description":"Page number for pagination (default is 1)","required":false,"schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","description":"Number of transactions per page (default is 1000)","required":false,"schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"A paginated list of transactions for the specified client","content":{"application/json":{"schema":{"type":"object","properties":{"total_records":{"type":"integer","description":"Total number of transactions for the client"},"page":{"type":"integer","description":"Current page number"},"page_size":{"type":"integer","description":"Number of transactions per page"},"total_pages":{"type":"integer","description":"Total number of pages available"},"transactions":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string"},"customer_id":{"type":"string"}}}}}}}}}}}},"/transactions_with_merchant/customer/{customer_id}":{"get":{"summary":"Get transactions with merchant details for a customer","description":"Retrieves all transactions for a given customer, including merchant details.\nIf merchant extraction has not been performed, the API will trigger it before fetching transactions.\n","tags":["Merchants"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string"},"description":"The customer ID (GUID format)."},{"name":"user","in":"query","required":false,"schema":{"type":"string"},"description":"Database username (optional, uses environment variables by default)."},{"name":"password","in":"query","required":false,"schema":{"type":"string"},"description":"Database password (optional, uses environment variables by default)."}],"responses":{"200":{"description":"A list of transactions with merchant details.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"client_id":{"type":"string"},"borrower_id":{"type":"string"},"date":{"type":"string","format":"date"},"description":{"type":"string"},"merchant":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"balance":{"type":"number"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"bank name":{"type":"string"},"iban":{"type":"string"},"cost type":{"type":"string"},"interaction_type":{"type":"string"},"customer_id":{"type":"string"}}}}}}},"404":{"description":"Customer ID not found."},"500":{"description":"Server error."}}}},"/paged-transactions_with_merchant/customer/{customer_id}":{"get":{"summary":"Get paginated transactions with merchant info by customer ID","tags":["Merchants"],"description":"Retrieves transactions for the specified customer ID, including merchant details, using pagination.\nDefault page size is 1000, but you can adjust it with query parameters.\n","parameters":[{"name":"customer_id","in":"path","required":true,"description":"The customer ID to filter transactions.","schema":{"type":"string"}},{"name":"user","in":"query","required":false,"description":"Database username (optional if using default from environment).","schema":{"type":"string"}},{"name":"password","in":"query","required":false,"description":"Database password (optional if using default from environment).","schema":{"type":"string"}},{"name":"page","in":"query","required":false,"description":"Page number (default 1).","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","required":false,"description":"Number of records per page (default 1000).","schema":{"type":"integer","default":1000}}],"responses":{"200":{"description":"Successful response with paginated transactions.","content":{"application/json":{"schema":{"type":"object","properties":{"total_records":{"type":"integer","example":2500},"page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_pages":{"type":"integer","example":3},"transactions":{"type":"array","items":{"type":"object","properties":{"ClientID":{"type":"string","example":"123"},"BorrowerID":{"type":"string","example":"456"},"date":{"type":"string","format":"date","example":"2024-05-01"},"description":{"type":"string","example":"Payment to supplier"},"credit_debit_indicator":{"type":"string","example":"Debit"},"amount":{"type":"number","example":1500.0},"currency":{"type":"string","example":"USD"},"balance":{"type":"number","example":5000.0},"category":{"type":"string","example":"Utilities"},"subcategory":{"type":"string","example":"Electricity"},"risk level":{"type":"string","example":"Medium"},"bank name":{"type":"string","example":"Bank A"},"iban":{"type":"string","example":"AE070331234567890123456"},"cost type":{"type":"string","example":"Fixed"},"merchant":{"type":"string","example":"ACME Corp"},"interaction_type":{"type":"string","example":"Supplier"},"customer_id":{"type":"string","example":"c12345"}}}}}}}}},"400":{"description":"Bad request (e.g., missing or invalid parameters)."},"500":{"description":"Internal server error."}}}},"/top_buyers/customer/{customer_id}":{"get":{"summary":"Get top buyers for a customer","description":"Retrieves the top buyers for a given customer, ranked by total transaction amount.\n","tags":["Merchants"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string"},"description":"The customer ID (GUID format)."},{"name":"user","in":"query","required":false,"schema":{"type":"string"},"description":"Database username (optional, uses environment variables by default)."},{"name":"password","in":"query","required":false,"schema":{"type":"string"},"description":"Database password (optional, uses environment variables by default)."}],"responses":{"200":{"description":"A list of top buyers sorted by total amount transacted.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"merchant":{"type":"string","description":"The merchant name."},"total_transacted":{"type":"number","description":"The total transaction amount with the merchant."},"number_of_interactions":{"type":"integer","description":"The number of transactions or interactions with the merchant."}}}}}}},"404":{"description":"Customer ID not found."},"500":{"description":"Server error."}}}},"/top_sellers/customer/{customer_id}":{"get":{"summary":"Get top sellers for a customer","description":"Retrieves the top sellers (suppliers or service providers) for a given customer,\nranked by total transaction amount.\n","tags":["Merchants"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string"},"description":"The customer ID (GUID format)."},{"name":"user","in":"query","required":false,"schema":{"type":"string"},"description":"Database username (optional, uses environment variables by default)."},{"name":"password","in":"query","required":false,"schema":{"type":"string"},"description":"Database password (optional, uses environment variables by default)."}],"responses":{"200":{"description":"A list of top sellers sorted by total amount transacted.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"merchant":{"type":"string","description":"The seller, supplier, or service provider name."},"total_transacted":{"type":"number","description":"The total transaction amount with the seller."},"number_of_interactions":{"type":"integer","description":"The number of transactions or interactions with the seller."}}}}}}},"404":{"description":"Customer ID not found."},"500":{"description":"Server error."}}}},"/risk_assessment/customer/{customer_id}":{"get":{"summary":"Get risk assessment for a specific customer","description":"Returns a list of risk assessment rules and scores for the specified customer.","tags":["Risk Assessment"],"parameters":[{"name":"customer_id","in":"path","required":true,"description":"The unique customer identifier (GUID).","schema":{"type":"string"}},{"name":"user","in":"query","required":false,"description":"Database username (optional if set via environment variables).","schema":{"type":"string"}},{"name":"password","in":"query","required":false,"description":"Database password (optional if set via environment variables).","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response with risk assessment results","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"rule":{"type":"string"},"value":{"type":"string"},"assessment":{"type":"string"},"customer_id":{"type":"string"}}}}}}},"500":{"description":"Internal server error"}}}},"/band_classification/customer/{customer_id}":{"get":{"summary":"Get band classification for a specific customer","description":"Returns the band classification, component scores, score values, total score, and red flag reason for the specified customer.","tags":["Risk Assessment"],"parameters":[{"name":"customer_id","in":"path","required":true,"description":"The unique customer identifier (GUID).","schema":{"type":"string"}},{"name":"user","in":"query","required":false,"description":"Database username (optional if set via environment variables).","schema":{"type":"string"}},{"name":"password","in":"query","required":false,"description":"Database password (optional if set via environment variables).","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response with band classification results","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"baseline_eligibility_score":{"type":"number"},"revenue_and_income_score":{"type":"number"},"expenses_and_profitability_score":{"type":"number"},"loan_and_debt_management_score":{"type":"number"},"cash_flow_and_liquidity_score":{"type":"number"},"business_liquidity_and_stability_score":{"type":"number"},"bank_account_balance_score":{"type":"number"},"baseline_eligibility_score_value":{"type":"number"},"revenue_and_income_score_value":{"type":"number"},"expenses_and_profitability_score_value":{"type":"number"},"loan_and_debt_management_score_value":{"type":"number"},"cash_flow_and_liquidity_score_value":{"type":"number"},"business_liquidity_and_stability_score_value":{"type":"number"},"bank_account_balance_score_value":{"type":"number"},"total_score":{"type":"number"},"band":{"type":"string"},"red_flag_reason":{"type":"string","nullable":true}}}}}}},"500":{"description":"Internal server error"}}}},"/update-kpi-rule":{"post":{"summary":"Update a KPI rule threshold","description":"Updates a KPI rule threshold.","requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["category","rule","new_threshold"],"properties":{"category":{"type":"string"},"rule":{"type":"string"},"new_threshold":{"type":"integer"},"user":{"type":"string"},"password":{"type":"string"}}}}}},"tags":["Risk Assessment"],"responses":{"200":{"description":"KPI rule updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"KPI rule updated successfully"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Missing required parameters: category, rule, new_threshold"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Something went wrong"}}}}}}}}},"/rerun-assessment":{"post":{"summary":"Reruns Assessment","tags":["Risk Assessment"],"description":"Triggers the pipeline to rerun the assessment.","requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"user":{"type":"string","example":"user"},"password":{"type":"string","example":"password"}},"required":["user","password"]}}}},"responses":{"200":{"description":"Successfully triggered Assessment pipeline","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Assessment pipeline triggered successfully"}}}}}},"400":{"description":"Missing required parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Missing required parameters: user and password"}}}}}},"500":{"description":"Failed to trigger pipeline","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Pipeline trigger failed"},"response_text":{"type":"string","example":"Error details"}}}}}}}}},"/start-pdf-extraction":{"post":{"summary":"Trigger PDF extraction pipeline","description":"Starts the pipeline to process PDF data for the specified customer. An optional `mode` parameter allows specifying whether to override or append to existing data (defaults to `Override`).\nIf a pipeline is already running for the same customer_id, this endpoint will return a 409 Conflict response.\n","tags":["PDFs"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["user","password","customer_id"],"properties":{"user":{"type":"string","example":"dbuser"},"password":{"type":"string","example":"mysecurepassword"},"customer_id":{"type":"string","format":"uuid","example":"43d027ff-e6cc-4f77-ab7a-1a8f34259035"},"mode":{"type":"string","description":"Optional. Determines how PDF data is processed in the pipeline.   Allowed values are `Override` (default) and `Append`.\n","enum":["Override","Append"],"default":"Override","example":"Override"}}}}}},"responses":{"200":{"description":"Pipeline triggered successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"PDF extraction pipeline triggered successfully"}}}}}},"400":{"description":"Missing or invalid parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Missing required parameters: user, password, and customer_id"}}}}}},"409":{"description":"A pipeline is already running for this customer_id","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"A pipeline is already running for customer_id '43d027ff-e6cc-4f77-ab7a-1a8f34259035'."}}}}}},"500":{"description":"Pipeline trigger failed or server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Pipeline trigger failed"},"response_text":{"type":"string","example":"<Azure error message here>"}}}}}}}}},"/categorise-cheque-deposits":{"post":{"summary":"Categorise cheque deposits as Equity Transactions or Revenue","description":"Starts a pipeline to reclassify cheque deposit transactions, recalculate KPIs and rerun the assessment for this customer_id.\n","tags":["Transactions"],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Database user, passed as container_name to the pipeline","example":"user"},"password":{"type":"string","description":"Database password for authentication","example":"secretpassword"},"customer_id":{"type":"string","description":"Customer ID for which cheque deposits will be recategorised","example":"43d027ff-e6cc-4f77-ab7a-1a8f34259035"},"target_category":{"type":"string","description":"Target category for cheque deposits","enum":["Equity Transactions","Revenue"],"example":"Equity Transactions"}}}}}},"responses":{"200":{"description":"Pipeline triggered successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Pipeline triggered successfully"}}}}}},"400":{"description":"Bad request due to missing or invalid parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Missing required parameters user, password, customer_id, target_category"}}}}}},"500":{"description":"Internal server error or pipeline trigger failure","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Failed to trigger pipeline"},"status_code":{"type":"integer","example":500},"response_text":{"type":"string","example":"Pipeline trigger failed due to authentication error"}}}}}}}}},"/categorise-partner-transactions":{"post":{"summary":"Categorise partner transactions as Equity Transactions or Transfers","description":"Starts a pipeline to recategorize transactions based on the partner name found in the transaction description.\n","tags":["Transactions"],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Database user","example":"user"},"password":{"type":"string","description":"Database password (used for auth only)","example":"secretpassword"},"customer_id":{"type":"string","description":"Customer ID whose transactions will be recategorized","example":"43d027ff-e6cc-4f77-ab7a-1a8f34259035"},"partner_name":{"type":"string","description":"Substring to match in transaction descriptions","example":"ACME LLC"},"target_category":{"type":"string","description":"The new category to assign to matched transactions","enum":["Equity Transactions","Transfers"],"example":"Transfers"}}}}}},"responses":{"200":{"description":"Pipeline triggered successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Pipeline triggered successfully"}}}}}},"400":{"description":"Bad request due to missing or invalid parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Missing required parameters user, password, customer_id, partner_name, target_category"}}}}}},"500":{"description":"Internal server error or pipeline trigger failure","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Failed to trigger pipeline"},"status_code":{"type":"integer","example":500},"response_text":{"type":"string","example":"Pipeline trigger failed due to authentication error"}}}}}}}}},"/assign-category":{"get":{"summary":"Get business categories with their subcategories","description":"Returns a JSON object mapping each business category to a list of its subcategories.","tags":["Business Category Assignment"],"parameters":[{"name":"user","in":"query","required":true,"schema":{"type":"string"},"description":"Username for SQL authentication"},{"name":"password","in":"query","required":true,"schema":{"type":"string"},"description":"Password for SQL authentication"}],"responses":{"200":{"description":"A JSON object containing categories and their subcategories","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"example":{"Accommodation":["Hotels and Resorts","Bed and Breakfasts","Campgrounds"],"Agriculture":["Crop Production","Animal Farming","Aquaculture"]}}}},"400":{"description":"Missing required parameters"},"500":{"description":"Server error or database access error"}}},"post":{"summary":"Submit customer business category","description":"Stores or updates the selected business category and subcategory for the specified customer ID in the [Reporting].[CustomerBusinessCategory] table. Requires SQL credentials as form fields.\n","tags":["Business Category Assignment"],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["user","password","customer_id","category_name"],"properties":{"user":{"type":"string","description":"Database username"},"password":{"type":"string","description":"Database password"},"customer_id":{"type":"string","description":"Unique identifier for the customer","example":"43d027ff-e6cc-4f77-ab7a-1a8f34259035"},"category_name":{"type":"string","description":"Business category (from the `business_categories` table)","example":"Automotive"},"subcategory_name":{"type":"string","description":"Business subcategory (from the `business_subcategories` table)","example":"Auto Dealerships"}}}}}},"responses":{"200":{"description":"Category saved or updated successfully","content":{"text/plain":{"schema":{"type":"string","example":"Business category saved for customer 43d027ff-e6cc-4f77-ab7a-1a8f34259035"}}}},"400":{"description":"Missing required form fields"},"500":{"description":"Database connection or execution error"}}}},"/log-lending":{"post":{"tags":["Lending Actions"],"summary":"Log a lending decision from email","description":"Logs a client’s lending decision via a POST request.","requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["user","password","customer_id","decision"],"properties":{"user":{"type":"string","description":"Client name."},"password":{"type":"string","description":"Authentication (if applicable)."},"customer_id":{"type":"string","description":"Customer identifier."},"decision":{"type":"integer","enum":[0,1],"description":"Lending decision (1 = Yes, 0 = No)."}}}}}},"responses":{"200":{"description":"Logged successfully."},"400":{"description":"Missing parameters."},"500":{"description":"Server error."}}}},"/top_buyers_recent/customer/{customer_id}":{"get":{"summary":"Get top buyers for a customer in the last X months","description":"Returns the top buyer-type merchants for a customer over the last `months` months,  where the time window is anchored to the customer's most recent transaction date.\n","tags":["Merchants"],"parameters":[{"in":"path","name":"customer_id","required":true,"schema":{"type":"string"},"description":"The unique customer ID (GUID)."},{"in":"query","name":"months","required":false,"schema":{"type":"integer","default":6,"minimum":1},"description":"Number of months to look back from the last transaction date."},{"in":"query","name":"user","required":false,"schema":{"type":"string"},"description":"username."},{"in":"query","name":"password","required":false,"schema":{"type":"string"},"description":"password."}],"responses":{"200":{"description":"A list of top buyer merchants","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"merchant":{"type":"string","example":"Merchant A"},"total_transacted":{"type":"number","format":"float","example":12500.75},"number_of_interactions":{"type":"integer","example":23}}}}}}},"400":{"description":"Invalid request (e.g., bad parameters)"},"500":{"description":"Server error"}}}},"/top_sellers_recent/customer/{customer_id}":{"get":{"summary":"Get top sellers for a customer in the last X months","description":"Returns the top seller-type merchants for a customer over the last `months` months,  where the time window is anchored to the customer's most recent transaction date. Seller interaction types include: `Seller`, `Supplier`, `Service provider`, and `Agency`.\n","tags":["Merchants"],"parameters":[{"in":"path","name":"customer_id","required":true,"schema":{"type":"string"},"description":"The unique customer ID (GUID)."},{"in":"query","name":"months","required":false,"schema":{"type":"integer","default":6,"minimum":1},"description":"Number of months to look back from the last transaction date."},{"in":"query","name":"user","required":false,"schema":{"type":"string"},"description":"username."},{"in":"query","name":"password","required":false,"schema":{"type":"string"},"description":"password."}],"responses":{"200":{"description":"A list of top seller merchants","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"merchant":{"type":"string","example":"Supplier X"},"total_transacted":{"type":"number","format":"float","example":98750.5},"number_of_interactions":{"type":"integer","example":12}}}}}}},"400":{"description":"Invalid request (e.g., bad parameters)"},"500":{"description":"Server error"}}}},"/band_classification":{"get":{"summary":"Get band classification for all customers","description":"Returns band classification scores, values, total score, band, and red flag reasons  for all customer IDs.\n","tags":["Risk Assessment"],"parameters":[{"in":"query","name":"user","schema":{"type":"string"},"required":true,"description":"Database username."},{"in":"query","name":"password","schema":{"type":"string"},"required":true,"description":"Database password."}],"responses":{"200":{"description":"A list of band classifications for all customers.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"customer_id":{"type":"string","example":"43d027ff-e6cc-4f77-ab7a-1a8f34259035"},"baseline_eligibility_score":{"type":"number","example":85},"revenue_and_income_score":{"type":"number","example":90},"expenses_and_profitability_score":{"type":"number","example":70},"loan_and_debt_management_score":{"type":"number","example":80},"cash_flow_and_liquidity_score":{"type":"number","example":75},"business_liquidity_and_stability_score":{"type":"number","example":88},"bank_account_balance_score":{"type":"number","example":82},"baseline_eligibility_score_value":{"type":"integer","example":1},"revenue_and_income_score_value":{"type":"integer","example":1},"expenses_and_profitability_score_value":{"type":"integer","example":0},"loan_and_debt_management_score_value":{"type":"integer","example":1},"cash_flow_and_liquidity_score_value":{"type":"integer","example":0},"business_liquidity_and_stability_score_value":{"type":"integer","example":1},"bank_account_balance_score_value":{"type":"integer","example":1},"total_score":{"type":"number","example":497},"band":{"type":"string","example":"A"},"red_flag_reason":{"type":"string","nullable":true,"example":"High loan default risk"}}}}}}},"400":{"description":"Missing or invalid parameters"},"500":{"description":"Internal server error"}}}},"/transactions/customer/{customer_id}/range":{"get":{"summary":"Get transactions for a customer within a date range","tags":["Transactions"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"Customer ID (GUID)"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date"},"description":"Start date (YYYY-MM-DD)"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date"},"description":"End date (YYYY-MM-DD)"},{"name":"user","in":"query","required":false,"schema":{"type":"string"},"description":"username"},{"name":"password","in":"query","required":false,"schema":{"type":"string"},"description":"password"}],"responses":{"200":{"description":"Array of transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionCostType"}},"examples":{"sample":{"value":[{"date":"2025-06-01","description":"POS Purchase","credit_debit_indicator":"debit","amount":120.5,"currency":"AED","balance":5400.75,"category":"Expenses","subcategory":"Hospitality","risk level":"Low","bank name":"Mashreq","iban":"AE070331234567890123456","borrowername":"ACME LLC","cost type":"Variable","customer_id":"43d027ff-e6cc-4f77-ab7a-1a8f34259035"}]}}}}},"400":{"description":"Missing or invalid parameters"},"500":{"description":"Server error"}}}},"/paged-transactions/customer/{customer_id}/range":{"get":{"summary":"Get paginated transactions for a customer within a date range","tags":["Transactions"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1000}},{"name":"user","in":"query","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated transactions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedTransactionsCostType"}}}},"400":{"description":"Missing or invalid parameters"},"500":{"description":"Server error"}}}},"/transactions_with_merchant/customer/{customer_id}/range":{"get":{"summary":"Get transactions-with-merchant for a customer within a date range","tags":["Merchants"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"user","in":"query","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Array of transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionWithMerchant"}}}}},"400":{"description":"Missing or invalid parameters"},"500":{"description":"Server error"}}}},"/paged-transactions_with_merchant/customer/{customer_id}/range":{"get":{"summary":"Get paginated transactions-with-merchant for a customer within a date range","tags":["Merchants"],"parameters":[{"name":"customer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1},"description":"Page number (1-based)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1000},"description":"Page size"},{"name":"user","in":"query","required":false,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated transactions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedTransactionsWithMerchant"}}}},"400":{"description":"Missing or invalid parameters"},"500":{"description":"Server error"}}}},"/clients/range":{"get":{"summary":"Get clients added within a date range","tags":["Clients"],"parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date"},"description":"Start date (YYYY-MM-DD)"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date"},"description":"End date (YYYY-MM-DD)"},{"name":"user","in":"query","required":false,"schema":{"type":"string"},"description":"username"},{"name":"password","in":"query","required":false,"schema":{"type":"string"},"description":"password"}],"responses":{"200":{"description":"Array of clients within the range","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Client"}}}}},"400":{"description":"Missing or invalid parameters"},"500":{"description":"Server error"}}}}},"components":{"schemas":{"Transaction":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"balance":{"type":"number"},"iban":{"type":"string"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string"},"borrowername":{"type":"string"}}},"Client":{"type":"object","properties":{"clientname":{"type":"string"},"date_added":{"type":"string"}}},"KPI":{"type":"object","properties":{"client_name":{"type":"string"},"kpi":{"type":"string"},"value":{"type":"number"}}},"PredictiveKPI":{"type":"object","properties":{"client_name":{"type":"string"},"year":{"type":"integer"},"month":{"type":"integer"},"predicted_revenue":{"type":"number"},"predicted_expenses":{"type":"number"},"predicted_transfers":{"type":"number"},"predicted_essentials":{"type":"number"},"predicted_non_essentials":{"type":"number"},"predicted_profit":{"type":"number"}}},"CorporateData":{"type":"object","properties":{"company_name":{"type":"string"},"email":{"type":"string"},"bank name":{"type":"string"}}},"TransactionCostType":{"type":"object","properties":{"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string","enum":["credit","debit"]},"amount":{"type":"number","format":"float"},"currency":{"type":"string","example":"AED"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string","description":"Risk level label as returned by SQL (note the space in the key)"},"bank name":{"type":"string","description":"Bank name (note the space in the key)"},"iban":{"type":"string"},"borrowername":{"type":"string"},"cost type":{"type":"string","description":"One of \"Fixed\", \"Variable\", or \"\" (note the space in the key)"},"customer_id":{"type":"string","format":"uuid"}}},"TransactionWithMerchant":{"type":"object","properties":{"ClientID":{"type":"integer"},"BorrowerID":{"type":"integer"},"date":{"type":"string","format":"date"},"description":{"type":"string"},"credit_debit_indicator":{"type":"string","enum":["credit","debit"]},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"balance":{"type":"number","format":"float"},"category":{"type":"string"},"subcategory":{"type":"string"},"risk level":{"type":"string","description":"Risk level label (note the space in the key)"},"bank name":{"type":"string","description":"Bank name (note the space in the key)"},"iban":{"type":"string"},"cost type":{"type":"string","description":"Fixed | Variable | '' (note the space in the key)"},"merchant":{"type":"string"},"interaction_type":{"type":"string","description":"e.g., buyer, customer, Seller, Supplier, Service provider, Agency"},"customer_id":{"type":"string","format":"uuid"}}},"PagedTransactionsCostType":{"type":"object","properties":{"total_records":{"type":"integer"},"page":{"type":"integer"},"page_size":{"type":"integer"},"total_pages":{"type":"integer"},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/TransactionCostType"}}}},"PagedTransactionsWithMerchant":{"type":"object","properties":{"total_records":{"type":"integer"},"page":{"type":"integer"},"page_size":{"type":"integer"},"total_pages":{"type":"integer"},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/TransactionWithMerchant"}}}}}}}